body {
  background-color: rgb(241,241,241);
}

.MainContainer {
  background-color: white;
  min-height: 90vh;
  max-width: 600px;
  margin: 20px auto;
}

.App {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 50px;
  font-family: 'Onest', sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  
}

.input {
  padding: 10px;
  margin-right: 10px;
  width: 250px;
  border: 2px solid rgb(230,241,241);
  border-radius: 5px;
  font-family: 'Onest', sans-serif;
}

.addBtn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(32,178,170);
  color:white;
  font-family: 'Onest', sans-serif;
  cursor: pointer;
}

.addBtn:hover {
  background-color: rgb(25, 137, 131);
}

.deleteBtn {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(254,0,0);
  color:white;
  font-family: 'Onest', sans-serif;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: rgb(224, 2, 2);
}

.listToDo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(241,241,241);
  padding: 10px;
}

.removeBtn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(254,0,0);
  color:white;
  font-family: 'Onest', sans-serif;
  cursor: pointer;
}

.removeBtn:hover {
  background-color: rgb(224, 2, 2);
}

.todo {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Onest', sans-serif;
  width: 100%;
}
